body {
    background-color: #dbdbdb;
}

.navbar {
    padding: 0;
}

/* MENU TOPO (ñ está funcionando corretamente)*/
.top_header {
    background-color: #222326;
    border-bottom: 1px solid #414346;
}

.navbar-nav>li>a {
    /*
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    */
    color: #fff;
    text-decoration: none;
}

.navbar-nav>li>a:hover {
    color: #8d8d8d;
    border-bottom: 1px solid #fff;
}

/* CABEÇALHO */
.main_header {
    height: 235px;
    background-color: #2d3034;
}

.logo {
    height: 133px;
}

.logo img {
    height: 50px;
    width: auto;
    margin-top: 40px;
    
}

.logo img:hover {
    height: 51px;
    width: auto;
}

/* MENU PRINCIPAL */
.main_nav_border{
    border-top: 2px solid #24262a;
    border-left: 2px solid #24262a;
    border-right: 2px solid #24262a;
}

.main_nav {
    height: 45px;
    border-top: 1px solid #383b3e;
}

/* CAMPO DE BUSCA */
.search_area {
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}

.search_input {
    background-color: #282b2f;
    border: 0;
    height: 32px;
    font-size: 15px;
    width: 200px;
    padding: 10px;
    color: #fff;
    outline: 0;
}

.search_submit {
    background-color: #3e4145;
    height: 32px;
    border: 0;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
}

/*BARRA ABAIXO DO MENU PRINCIPAL*/
.main_info {
    background-color: #fff;
    height: 55px;
}

.main_info .row {
    margin: 0;
}
/* redes sociais */
.socialarea {
    background-color: #3382b5;
    height: 55px; /*deveria ser height: 100%;*/
    color: #c2dae9;
}

.socialtxt {
    line-height: 55px;
    float: left;
}

.socialicons {
    float: right;
    height: 20px;
    margin-top: 17px;
}

.socialicons img{
    height: 20px;
    margin-right: 10px;
}

.socialicons a:hover {
    text-decoration: none;
}

/* post aletorio */
.postaleatorio {
    line-height: 55px;
    color: #999;
}

.postaleatorio a {
    color: #999;
    margin-left: 20px;
}

.postaleatorio a:hover {
    color: #282b2f;
    font-weight: bold;
}

/*Área de posts e Sidebar*/
section .row {
    margin: 0;
}

.sidebar {
    background-color: #eee;
}

.sidebar .widget {
    border-bottom: 2px solid #e4e4e4;
}

.sidebar .widget .tagcloud {
    padding-top: 10px;
    padding-bottom: 20px;
}

.sidebar .widget .tagcloud a {
    background-color: #94c354;
    color: #fff;
    font-size: 18px; /*ñ quer funcionar*/
    padding: 10px;
}

.maincontent {
    background-color:#fff;;
}

/*FOOTER*/
footer {
    margin-top: 55px;
    background-color: #fff;
}

.footer_widgets {
    background-color: #fff;
    padding: 20px;
}

.footer_widgets .footer_widget {
    display: flex;
}

.footer_widgets .widget {
    width: 100%;
}

.mainfooter {
    background-color: #2d3034;
    height: 55px;
    color: #fff;
}

.mainfooter_left {
    float: left;
    line-height: 55px;
    margin-left: 20px;
}

.mainfooter_right {
    float: right;
    line-height: 55px;
    margin-right: 20px;
}

.mainfooter_scroll {
    position: absolute;
    background-color: #fff;
    height: 30px;
    width: 55px;
    left: 50%;
    margin-left: -27px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    cursor: pointer;
}

.mainfooter_scroll img {
    height: 20px;
}

/*FEED DE POSTS*/
.maincontent article {
    width: 50%;
    float: left;
}

.maincontent article a {
    text-decoration: none;
}

.post_item {
    margin: 30px 15px 80px 15px;
    height: 450px;
}

/*número de comentários*/
.post_comment_area {
    background-color: #77b05a;
    background-image: url('../img/comments.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 5px center;
    color: #fff;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    padding: 0 10px 0 31px;
    float: right;
    position: relative;
    z-index: 99;
}

/*área do post*/
.post_info {
    min-height: 200;
}

/*thumbnail*/
.post_thumb {
    width: 100%;
    height: auto;
    margin-top: -22px;
}

/*data*/
.post_date {
    color: #b0afb0;
    margin-top: 5px;
    text-transform: uppercase;
}

/*título*/
.post_title {
    font-size: 20px;
    color: #1E1E1E;
    margin-bottom: 10px;
}

/*resumo do post*/
.post_excerpt {
    color: #b0afb0;
}

/*paginação*/
.post_pag {
    padding: 20px;
}

.previous_pag {
    margin-top: 50px;
    float: left;
}

.next_pag {
    margin-top: 50px;
    float: right;
}

/*SINGLE*/
.post_content {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}

.post_title_single {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

.post_content img {
    max-width: 100%;
    height: auto;
}

.comments_area {
    border-top: 1px solid #cccccc;
}

.custom-header img {
    width: 100%;
}


/* Tablet Vertical*/
@media (min-width: 481px) and (max-width: 768px) {
    .maincontent article {
        float: none;
        width: auto;
    }

    .maincontent article .post_item {
        height: auto;
        margin: 0;
        padding-top: 15px;
    }
}

/*Celular Vertical*/
@media (max-width: 480px) {
    .footer_widgets .footer_widget {
        display: block;
    }

    .logo {
        text-align: center;
    }

    .main_info {
        display: none;
    }

    .main_info,
    .search_area {
        display: none;
    }

    .maincontent article {
        float: none;
        width: auto;
    }

    .maincontent article .post_item {
        height: auto;
        margin: 0;
        padding-top: 10px;
    }

    button, input, optgroup, select, textarea {
        font-size: x-small !important;
    }
}